body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    color: rgba(54, 219, 211, 0.89);
    text-align: center;
}
p{
    color: rgb(4, 150, 101);
    text-align: center;
}